.sidenav {
	z-index: 1000;
	position: fixed;
	left: $sidenav-width;
	height: 100%;
	margin-left: -$sidenav-width;

	border-right: 1px solid $border-color;

	.sidenav-menu {
		list-style: none;
		padding: 0;
		margin: 0;
		width: $sidenav-width;

		> li {

			transition: background-color .2s ease;
			&:hover {
				background-color: #333333;
				transition: background-color .2s ease;
			}
		}
		li > a {
			padding: 15px;
			color: $text-color;
			display: block;
		}

		.category-no-children, .category .sidenav-dropdown-title {
			padding-left: 30px;
		}
		.sub_category {
			padding-left: 45px;
		}

		.category-no-children {
			line-height: 40px;
			cursor: pointer;

			transition: background-color .2s ease;
			&:hover {
				background-color: #333333;
				transition: background-color .2s ease;
			}
			&.active {
				background-color: white;
				color: #333;
			}
		}
	}

	&.collapsed {
		display: none;
	}
}