<nav class="sidenav"  ng-class="{'collapsed' : sidenav.isCollapsed()}">
	<ul class="sidenav-menu">
		<li>
			<a ui-sref="app.listings()" ui-sref-opts="{inherit: false}">All Listings</a>
		</li>

		<div ng-repeat="group in ::sidenav.groups" ng-if="group.listings.length > 0">

			<!-- Group With Children -->
			<sidenav-dropdown title="{{group.name}}"
				ng-if="group.categories.length > 0"
				on-click="sidenav.view($event, group)">

				<div ng-repeat="category in ::group.categories"
					ng-if="category.listings.length > 0">
					<!-- Category With Children -->
					<sidenav-dropdown
						title="{{category.name}}"
						ng-if="category.sub_categories.length > 0"
						on-click="sidenav.view($event, group, category)"
						class="category">
						<div class="sub_category category-no-children"
							ng-repeat="sub_category in ::category.sub_categories"
							ng-if="sub_category.listings.length > 0"
							ng-click="sidenav.view($event, group, category, sub_category)"
							class="">
							{{sub_category.name}}
						</div>
					</sidenav-dropdown>
					<!-- Category With Children -->

					<!-- Category Without Children -->
					<div class="category-no-children"
						ng-if="!(category.sub_categories.length > 0)"
						ng-click="sidenav.view($event, group, category)">
						{{category.name}}
					</div>
					<!-- Category Without Children -->
				</div>

			</sidenav-dropdown>
			<!-- Group With Children -->

			<!-- Group Without Children-->
			<div class="category-no-children"
				ng-if="!(group.categories.length > 0)"
				>
				{{group.name}}
			</div>
			<!-- Group Without Children-->

		</div>
	</ul>
</nav>