html, body {
	position: relative;
	height: 100%;
	background-color: $background-color;
}

body {
	overflow: hidden;

	.app {
		display: block;
		height: 100%;
		position: relative;
	}

	.app .content {
		position: relative;
		display: block;
		overflow-y: auto;

		margin-left: $sidenav-width;
		margin-right: $cart-width;

		height: calc( 100% - 50px );
	}

	.sidenav.collapsed ~ .content {
		margin-left: 0;
	}

	.cart.collapsed ~ .content {
		margin-right: 0;
	}
}