<div class="home">
	<listing-search></listing-search>
	<div class="content-heading">
		<h1>Ogled Antiques</h1>
		<p>Fine Antiques: Furniture, Silver, Clocks, Lighting, Militaria, Coins, Paintings</p>
	</div>
	<div class="content-body">
		<div ng-repeat="data in home.listings" class="col-xs-12 col-md-6 col-lg-3 text-center">
			<listing ng-model="data"></listing>
		</div>
	</div>
</div>