<div class="sidenav-dropdown" ng-class="{'expanded':sidenavDropdown.expanded}">
	<div class="sidenav-dropdown-heading">
		<span class="sidenav-dropdown-title" ng-click="sidenavDropdown.titleClicked($event)">
			{{sidenavDropdown.title}}
		</span>
		<button class="sidenav-dropdown-toggle" ng-click="sidenavDropdown.toggle()">
			<i class="fa fa-caret-down"></i>
		</button>
	</div>
	<ul class="sidenav-dropdown-list" >
		<ng-transclude class="sidenav-dropdown" ng-show="sidenavDropdown.expanded">
		</ng-transclude>
	</ul>
</div>