$sidenav-dropdown-expand-button-width: 40px;

sidenav-dropdown {
	display: block;
}

.sidenav-dropdown {
	cursor: pointer;

	.sidenav-dropdown-heading {
		display: inline-block;
		width: 100%;
		line-height: 40px;

		&:hover .sidenav-dropdown-toggle{
			border-left: 1px solid $border-color;
		}
	}
	.sidenav-dropdown-title {
		width: $sidenav-width - $sidenav-dropdown-expand-button-width;
		height: 100%;
		display: inline-block;
		padding-left: 15px;

		transition: background-color .2s ease;

		&:hover {
			background-color: #333333;
			transition: background-color .2s ease;
		}
		&.active {
			background-color: white;
			color: #333333;
		}
	}

	.sidenav-dropdown-toggle {
		float: right;
		background-color: transparent;
		border: none;
		border-left: 1px solid transparent;
		outline: none;
		padding-top: 0;
		padding-bottom: 0;

		width: $sidenav-dropdown-expand-button-width;

		transition: background-color .2s ease;

		&:hover {
			background-color: #333333;
			transition: background-color .2s ease;
		}

		> .fa-caret-down {
    		transition: .2s ease;
		}
	}

	.sidenav-dropdown-list {
		list-style: none;
		padding: 0;
		margin: 0;
		width: $sidenav-width;

		li {
			padding: 15px 25px 15px 15px;

			cursor: pointer;

			transition: background-color .2s ease;
			&:hover {
				background-color: #595959;
				transition: background-color .2s ease;
			}
		}
	}

	&.expanded {
		> .sidenav-dropdown-list {
			border-top: 1px solid $border-color;
			border-bottom: 1px solid $border-color;
		}
		> .sidenav-dropdown-heading > .sidenav-dropdown-toggle > .fa-caret-down {
			transform: rotate(-180deg);
    		transition: .2s ease;
		}
		> .sidenav-dropdown-heading > .sidenav-dropdown-toggle {
			background-color: #595959;
		}
	}
}
