<main>
	<div class="container">
		<section class="row">
			<div class="col-xs-12">
				<h1>Your Account</h1>
				<span>{{account.currentUser.first_name}} {{account.currentUser.last_name}}</span>
			</div>
		</section>

		<hr>

		test
	</div>
</main>