<div class="content-heading">

	<periods-dropdown selected="listings.timePeriodsFilter"
		on-selection-updated="listings.filter(selectedPeriods)">
	</periods-dropdown>
	<!-- <div class="breadcrumbs">
		<a href="">Furniture</a>
		<span class="breadcrumb-divider">/</span>
		<a href="">Chairs</a>
		<span class="breadcrumb-divider">/</span>
		<a href="">Tables</a>
	</div> -->

</div>

<div class="content-body">
	<listing ng-repeat="listing in listings.ngModel" ng-model="listing"
	ng-show="listing.isActive"></listing>
</div>