<nav class="navbar navbar-default" role="naviation">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a class="menu-button" ng-click="navbar.toggleSidenav()">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
            <li>
                <a class="navbar-home" ui-sref="app.home">Ogled Antiques</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a ng-click="navbar.toggleCart()"><i class="fa fa-shopping-cart"></i></a>
            </li>
            <li>
                <login-dropdown></login-dropdown>
            </li>
        </ul>
    </div>
</nav>