.navbar {
	background-color: $background-color;

	height: $navbar-height;

	border-width: 0 0 1px;
	border-radius: 0;

	margin-bottom: 0;

	.container {
		width: 100%;
	}

	.menu-button {
		background: none;
		border: none;
		color: $link-text-color;
		padding-right: 5px;
		padding-left: 5px;
		cursor: pointer;
	}

	.navbar-home {
		color: $link-text-color;
		font-weight: $font-weight;
		transition: color .2s ease;
		float: none;
		font-size: 18px;
		&:hover {
			transition: color .2s ease;
			color: $link-text-color-hover;
		}
	}

	.navbar-nav > li > a {
		color: $link-text-color;
		font-weight: $font-weight;
		transition: color .2s ease;
		&:hover {
			transition: color .2s ease;
			color: $link-text-color-hover;
		}
	}

	.navbar-nav > .open {
		& > a, & > a:hover, & > a:focus {
			background-color: transparent;
			color: $link-text-color-hover;
		}
	}
}