.content-heading {
	text-align: center;
	padding: 80px 20px 20px 20px;
}

.content-heading-overlay {
	height: 100%;
	width: 100%;
}

/**********************
 *	Headings
 **/

.heading-base {
	font-weight: 300;
	margin: 0 0 1rem 0;
	color:
}

.app h1 {
	@extend .heading-base;
	font-size: 4rem;
}
.app h2 {
	@extend .heading-base;
	font-size: 2.2rem;
}
.app h3 {
	@extend .heading-base;
	font-size: 1.7rem;
}
.app h4 {
	@extend .heading-base;
	font-size: 1.2rem;
}

/**********************
 *	Inputs
 **/

input {
	border: 1px solid $border-color;
	background-color: transparent;
	padding: 6px;
}

/**********************
 *	Forms
 **/

form {
	input {
		margin-top: 5px;
		margin-bottom: 5px;
		width: 100%;
	}
	input:first-of-type {
		margin-top: 0;
	}
	input:last-of-type {
		margin-bottom: 0;
	}
}

/**********************
 *	Buttons
 **/

.btn {
	border-radius: 0;
	border: 1px solid $border-color;
	background: transparent;
	color: $text-color;

	transition: background-color 0.2s ease;
	transition: color 0.2s ease;

	&:hover {
		background-color: white;
		transition: background-color 0.2s ease;
		color: #333333;
		transition: color 0.2s ease;
	}
}

/**********************
 *	Generic Classes
 **/

.fill-width {
	width: 100%;
}

/**********************
 *	Links
 **/

a {
	color: #3592D4;
	transition: color .2s ease;
	text-decoration: none;
	&:hover, &:active, &:focus {
		color: darken(#3592D4, 10%);
		transition: color .2s ease;
		text-decoration: none;
	}
}

/**********************
 *	Breadcrumbs
 **/

.ogled .breadcrumbs > a {
	color: white;
}

.ogled .breadcrumbs .breadcrumb-divider {
	padding: 0 7px;
}

/**********************
 *	Content
 **/
.ogled {
	.content-heading {
		padding: 15px;
		text-align: left;
	}

	.content-body {
		padding: 15px;
	}
}

/**********************
 *	Dropdowns
 **/

[dropdown] {
	color: #333;
	.dropdown-menu {
		width: 225px;
		border-radius: 0;
		width:
	}
	.dropdown-menu li:not(.divider) {
		padding: 5px 10px;
	}
}