$font-family-sans-serif: 'Raleway', sans-serif;
$font-weight: 300;

$text-color: white;
$link-text-color: #A9A9A9;
$link-text-color-hover: #DDDDDD;
$border-color: #E7E7E7;
$border-color-dark: darken($border-color, 30%);

$background-color: #000000;
$background-color-holo: rgba(51, 51, 51, 0.9);

$sidenav-width: 180px;
$cart-width: 250px;
$navbar-height: 50px;