login-dropdown {
	display: block;
}

.navbar .login-dropdown {
	padding: 15px;
}

.login-dropdown {
	> a {
		color: $link-text-color;
		transition: color .2s ease;

		cursor: pointer;
		text-decoration: none;

		&:hover {
			color: $link-text-color-hover;
			transition: color .2s ease;
		}
	}

	.login-dropdown-container {
		display: block;

		position: absolute;
		top: 100%;
		right: 0;
		z-index: 1001;
		float: left;

		min-width: 250px;

		border: 1px solid $border-color;
		background-color: $background-color-holo;

		padding: 15px;

		.login-dropdown-error-message {
			color: #CA4C4C;
			text-align: center;
		}

		a {
			cursor: pointer;
		}

		> .user-options {
			background-color: transparent;
		}

		> .user-options > li {
			background-color: transparent;
			border-radius: 0;
			cursor: pointer;
		}
		> .user-options > li:hover {
		}
	}

	input[type="submit"]:hover, input[type="button"]:hover, .user-options > li:hover {
		background-color: #E6E6E6;
		color: #333;

		transition: background-color .2s ease;
		transition: color .2s ease;
	}
}