<div class="login-dropdown">
	<a ng-click="loginDropdown.toggle()">
		<span ng-if="loginDropdown.currentUser">
			{{loginDropdown.currentUser.first_name}}
			{{loginDropdown.currentUser.last_name}}
		</span>
		<span ng-if="!loginDropdown.currentUser">
			Login
		</span>
	</a>
	<div class="login-dropdown-container" ng-show="loginDropdown.expanded">

		<!-- Login or Registration Form -->
		<div ng-if="!loginDropdown.currentUser">
			<form novalidate>
				<div class="login-dropdown-error-message" ng-if="loginDropdown.loginError">
					There was a problem logging in. Please try again.
				</div>
				<input id="login-dropdown-email" ng-model="loginDropdown.email" placeholder="Email" type="email">
				<input ng-model="loginDropdown.password" placeholder="Password" type="password">
				<input ng-model="loginDropdown.password_verification" ng-if="loginDropdown.registering" placeholder="Repeat Password" type="password">
				<input ng-model="loginDropdown.first_name" ng-if="loginDropdown.registering" placeholder="First Name" type="text">
				<input ng-model="loginDropdown.last_name" ng-if="loginDropdown.registering" placeholder="Last Name" type="text">
				<input ng-click="loginDropdown.login()" ng-if="!loginDropdown.registering" value="Login" type="submit">
				<input ng-click="loginDropdown.register()" ng-if="loginDropdown.registering" value="Register" type="submit">
				<input ng-if="loginDropdown.registering" ng-click="loginDropdown.registering = false" value="Cancel" type="button">
			</form>
			<small ng-if="!loginDropdown.registering">Not a member? <a ng-click="loginDropdown.registering = true">Register</a></small>
		</div>
		<!-- Login or Registration Form -->

		<!-- User Options -->
		<ul class="list-group user-options" ng-if="loginDropdown.currentUser">
			<li class="list-group-item" ui-sref="app.account.overview">
				Account
			</li>
			<li class="list-group-item">
				Purchases
			</li>
			<li class="list-group-item">
				Favorites
			</li>
			<li class="list-group-item" ng-click="loginDropdown.logout()">
				Logout
			</li>
		</ul>
		<!-- User Options -->

	</div>
</div>