<!-- <div class="btn-group" dropdown is-open="status.isopen" auto-close="outsideClick">
	<button id="single-button" type="button" class="btn" dropdown-toggle ng-disabled="disabled">
		Time Period <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
		<li role="menuitem" ng-click="periodsDropdown.toggleAllSelected()">
			<input type="checkbox" ng-model="periodsDropdown.allSelected">
			All
		</li>
    	<li class="divider"></li>
		<li role="menuitem" ng-repeat="period in periodsDropdown.periods"
			ng-click="periodsDropdown.toggleSelected(period)">
			<input type="checkbox" ng-model="period.isSelected">
			{{period.name}}
		</li>
	</ul>
</div> -->

<div class="btn-group">
	<button class="btn" ng-click="periods.selectAll()"
		ng-class="{'active' : periods.allSelected}">
		All
	</button>
	<button class="btn" ng-repeat="period in periods.periods"
		ng-click="periods.select(period)"
		ng-class="{'active' : period.id === periods.active}">
		{{period.name}}
	</button>
</div>