<div class="listing">
	<img src="/static/frontend/images/{{listing.ngModel.image}}.jpg" class="listing-picture">
	<div class="listing-body">
		<div class="listing-body-details">
			<div>{{listing.ngModel.title}}</div>
			<div><small>by</small>
				{{listing.ngModel.creator.name}}
			</div>
			<a href="">More Information</a>
			<div class="pull-right">${{listing.ngModel.price}}.00</div>
		</div>

		<div class="listing-buttons">
			<button><i class="fa fa-star"></i></button>
			<button ng-click="listing.addToCart(listing.ngModel)"><i class="fa fa-cart-plus"></i></button>
		</div>
	</div>
</div>