$listing-background-color: #EFEFEF;

listing {
	display: inline-block;
	padding: 15px;
}
.listing {
	color: #333333;
	display: inline-block;
	margin: 15px;
	width: 250px;
	text-align: left;

	.listing-picture {
		height: 150px;
		width: 100%;
	}
	.listing-body {
		width: 100%;
		background-color: $listing-background-color;
	}
	.listing-body > .listing-body-details {
		padding: 10px;
	}
	.listing-buttons {
		width: 100%;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		border-top: 1px solid $border-color-dark;

		button {
			position: relative;
			float: left;
			width: 50%;
			padding: 6px 12px;
			margin: 0;
			border: none;
			background-color: $listing-background-color;
			border-right: 1px solid $border-color-dark;

			outline: none;

			transition: background-color .2s ease;

			&:hover {
				background-color: darken($listing-background-color, 8%);
				transition: background-color .2s ease;
			}
		}
		button:last-of-type  {
			border-right: none;
		}
	}
	a {
		cursor: pointer;
	}
}