<div class="cart" ng-class="{'collapsed' : cart.isCollapsed()}">
	<div class="cart-heading">Shopping Cart</div>
	<ul class="cart-items">
		<!-- <li class="cart-item">
			<div class="cart-item-title">1956 Oak Table</div>
			<div class="cart-item-link"><a href="">#4856</a></div>
			<div class="cart-item-price">$4500.00</div>
		</li>
		<li class="cart-item">
			<div class="cart-item-title">Painting by Edward Edwards</div>
			<div class="cart-item-link"><a href="">#152</a></div>
			<div class="cart-item-price">$700.00</div>
		</li>
		<li class="cart-item">
			<div class="cart-item-title">Civil War Medal Collection, 1863</div>
			<div class="cart-item-link"><a href="">#342</a></div>
			<div class="cart-item-price">$2000.00</div>
		</li> -->
		<li ng-repeat="item in cart.items" class="cart-item">
			<div class="cart-item-title">{{item.title}}</div>
			<div class="cart-item-link"><a href="">#{{item.id}}</a></div>
			<div class="cart-item-price">${{item.price}}.00</div>
		</li>
	</ul>
	<div class="cart-summary">
		<div>Sub-Total: <span class="pull-right">$4500.00</span></div>
		<div>Tax: <span class="pull-right">$0.00</span></div>
		<div>Shipping: <span class="pull-right">$55.00</span></div>
	</div>
	<div class="cart-checkout-options">
		<button class="btn btn-default fill-width"> Email Inquiry</button>
		<button class="btn btn-default fill-width"><i class="fa fa-paypal"></i> Paypal</button>
	</div>
</div>