.app > .cart {
	z-index: 1000;
	position: fixed;
	display: block;
	height: 100%;

	right: $cart-width;
	width: $cart-width;
	margin-right: -$cart-width;
	padding: 10px;

	background-color: $background-color;

	border-left: 1px solid $border-color;

	&.collapsed {
		display: none;
	}

	> .cart-heading {
		text-align: center;
		padding: 15px;
	}

	> .cart-items {
		list-style: none;
		padding: 0;


		border-top: 1px solid $border-color-dark;
		border-bottom: 1px solid $border-color-dark;

		li {
			padding: 10px;
			border: 1px solid $border-color-dark;
		}
		li:first-of-type {
			border-top: none;
			border-bottom: none;
		}
		li:last-of-type {
			border-bottom: none;
			border-top: none;
		}

		li.cart-item .cart-item-title {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		li.cart-item .cart-item-price {
			text-align: right;
		}
	}

	> .cart-checkout-options {
		padding-top: 15px;
		padding-bottom: 15px;

		button {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		button:first-of-type {
			margin-top: 0;
		}
		button:last-of-type {
			margin-bottom: 0;
		}
	}
}